* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: Quicksand-Light;
    src: url(../assets/font/Quicksand-Light.otf);
}

body {
	min-height: 100%;
	background-color: #13002C;
	color: #fff;
	font-family: Arial;
	font-family: Quicksand-Light, Helvetica;
	background-image:    -moz-radial-gradient(center 45deg, circle closest-side, #1c1740 0%, #270023 100%);
	background-image: -webkit-radial-gradient(center 45deg, circle closest-side, #1c1740 0%, #270023 100%);
	background-image: -ms-radial-gradient(center 45deg, circle closest-side, #1c1740 0%, #270023 100%);
	background-image: -o-radial-gradient(center 45deg, circle closest-side, #1c1740 100%, #270023 100%);
	background-size: cover;
	overflow: hidden;
}

.shadow-item {
	display: none;
}

header {
	text-align: center;
	color: #CF000F;
}

.title {
	padding: 0.4em;
	transition: transform 1s ease;
	transition: opacity 0.5s ease;
}

.title.begin {
	transform : translateY(50px);
	opacity: 0;
}

.subtitle , .notice{
	color:#fff;
}

.subtitle {
	font-size: 12px;
	text-transform: uppercase;
	padding: 10px;
	margin-bottom: 10px;
	transition: transform 1s ease;
	transition: opacity 0.5s ease;
}

.subtitle.begin {
	transform : translateY(50px);
	opacity: 0;
}

.notice {
	font-size: 12px;
	border-top: 1px solid #CF000F;
	padding-top: 10px;
	transition: opacity 0.5s ease;
}

.notice.begin {
	opacity: 0;
}

.arr-item {
	transition: transform 1s ease;

	&.reveal {
		transform : translateY(-10px);
		fill: #640c00;
	}
}

.map {
	width: 45%;
	top: 50%;	
	position: absolute;
	transform: translate3d(-60%, -48%, 0);
	left: 50%;
	z-index: 50;
	overflow: overlay;

	transition: opacity 2s ease;
}

.map.begin {
	opacity: 0;
}

.map svg{
	transform: scale(0.7);
}

svg {
	width: 100%;
	height: 100%;
}

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .7;
	stroke: white;
	stroke-width: 2px;
	fill: none;
}
svg.charts {
	overflow: visible;
} 

.chart-container {
	position: absolute;
    box-sizing: border-box;
    z-index: 150;

    &.prime-chart-container{
	    bottom: 30%;
	    right: 8%;
	    height: 35%;
	    width: 35%;
	}

	&.second-chart-container{
	    top: 15%;
	    left: -2%;
	    height: 23%;
	    width: 35%;
	}
}

.district-name {
	text-transform: uppercase;
}

#prime-district {
	box-sizing: border-box;
	position: absolute;
	bottom: -38%;
	right: 2%;
	height: 35%;
	width: 35%;
}

#second-district {
	box-sizing: border-box;
	position: absolute;
	bottom: -35%;
    right: 20%;
    height: 23%;
    width: 23%;
}

.labels text, .labels lines{
	fill: #fff;
	opacity: 0;
}

.controls {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: right;
	padding: 2em;
	box-sizing: border-box;
	transition: opacity 0.8s ease;
	transition: transform 1s ease;
}
.controls.begin {
	opacity: 0;
	transform: translateX(30px);
}


.event {
	transition: opacity 0.5s;
	margin: 0 10px;
	width: 50px;
	height: 50px;
	padding: 8px;
	display: inline-block;
	color: #13002C;
	cursor: pointer;

		&.inactive {
		opacity: 0.5; }

		&.inactive:hover {
		opacity: 1; 
		}

		&.concert {
		background-image: url(../assets/icons/pictos_concert.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center; }

		&.theatre {
		background-image: url(../assets/icons/pictos_theatre.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center; }

		&.cinema {
		background-image: url(../assets/icons/pictos_cinema.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center; }

		&.conference {
		background-image: url(../assets/icons/pictos_conference.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center; }

		&.atelier {
		background-image: url(../assets/icons/pictos_atelier.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center; 
	}
}

.st0{
	fill:#FD5C1F;
	transition: fill 0.5s ease;
}
.st1{
	fill:#FFFFFF;
	transition: fill 0.5s ease;
}
.st2{
	fill:#2292FF;
	transition: fill 0.5s ease;
}
.st3{
	fill:#02319D;
	transition: fill 0.5s ease;
}
.st4{
	fill:#6DCAD6;
	transition: fill 0.5s ease;
}

.reveal .st2 {
	fill: red;
}

